[Match]
Name=thunderbolt0

[Link]
RequiredForOnline=no

[Network]
Address=10.44.0.1/30
LinkLocalAddressing=no
ConfigureWithoutCarrier=yes

[Route]
Destination=10.44.0.0/30
Table=144

[RoutingPolicyRule]
From=10.44.0.1/32
Priority=10440
Table=144
