[Match]
Name=thunderbolt1

[Link]
RequiredForOnline=no

[Network]
Address=10.44.1.2/30
LinkLocalAddressing=no
ConfigureWithoutCarrier=yes

[Route]
Destination=10.44.1.0/30
Table=145

[RoutingPolicyRule]
From=10.44.1.2/32
Priority=10441
Table=145
